.privacy-security {
    padding: 16px 10px 24px 10px;
}

.privacy-security__menu {
    padding: 0 14px;
}

.privacy-security__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

.privacy-security__tabs-nav {
    display: flex;
    gap: 16px;
}

.privacy-security__tabs-btn {
    position: relative;
    padding: 9px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.privacy-security__tabs-btn:hover {
    color: #335DC9;
    font-weight: 600;
}

.privacy-security__tabs-btn--active {
    font-weight: 600;
}

.privacy-security__tabs-btn--active:hover {
    color: #2E3A59;
}

.privacy-security__tabs-btn--active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background: #335DC9;
}

.privacy-security__content {
    padding-top: 32px;
}

.privacy-security__menu-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.privacy-security__profile-btn {
    display: none;
    align-items: center;
    gap: 8px;
}

.privacy-security__profile-btn:hover {
    color: #335DC9;
}

.privacy-security__profile-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

@media (min-width: 1440px) {
    .privacy-security {
        flex: 1;
        min-height: 100vh;
        padding: 24px 24px 24px 48px;
        border-radius: 30px 0px 0px 20px;
        background: #F3F3F3;
    }

    .privacy-security__profile-btn {
        display: flex;
    }

    .privacy-security__title {
        font-size: 34px;
        font-weight: 600;
        line-height: 41px;
    }

    .privacy-security__content {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        max-height: 586px;
        flex-wrap: wrap;
        gap: 24px;
    }
}