.info-block {
    padding: 16px 24px 24px 24px;
    border-radius: 24px;
    height: fit-content;
    background: #FFF;
}

.info-block:not(:last-child) {
    margin-bottom: 24px;
}

.info-block:nth-child(2) {
    margin-bottom: 16px;
}

@media (min-width: 1440px) {
    .info-block {
        width:500px;
    }
    .info-block:not(:last-child) {
        margin-bottom: 0;
    }
    
    .info-block:nth-child(4) .info-form__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        
    }

    .info-block:nth-child(4) .info-form__item {
        margin-bottom: 0;
    }


    .info-block:nth-child(4) .info-form__item:nth-child(1) {
        width: calc(50% - 8px);
    } 
    .info-block:nth-child(4) .info-form__item:nth-child(2) {
        width: calc(50% - 8px);
    }
    .info-block:nth-child(4) .info-form__item:nth-child(3) {
        width: 100%;
    } 
}