.app__nav-footer svg:hover {
    fill: #335DC9;
}

.app__nav-footer svg:focus {
    fill: #0E41C4;
}

.info-block__table-btns svg:hover {
    fill: #335DC9;
}

.info-block__table-btns svg:focus {
    fill: #0E41C4;
}