@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-Bold.ttf') format('truetype');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-Heavy.ttf') format('truetype');
  font-weight: 900;
  /* Heavy */
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  /* Heavy */
  font-style: italic;
}

@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-Light.ttf') format('truetype');
  font-weight: 300;
  /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-LightItalic.ttf') format('truetype');
  font-weight: 300;
  /* Light */
  font-style: italic;
}

@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-Medium.ttf') format('truetype');
  font-weight: 500;
  /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  /* Medium */
  font-style: italic;
}

@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-style: italic;
}

@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-Semibold.ttf') format('truetype');
  font-weight: 600;
  /* Semibold */
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('../public/fonts/SFProText-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  /* Semibold */
  font-style: italic;
}


body {
  margin: 0;
  min-height: 100vh;
  font-family: 'SFProText', sans-serif;
  background-color: #F3F3F3;
  color: #2E3A59;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

button {
  color: #2E3A59;
  padding: 0;
  border: none;
  background-color: inherit;
}


ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}